In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [8]:
precios=pd.read_parquet('Historico precios con dolar.parquet')
combustible=pd.read_csv('listado-de-productos.csv')
empresa=pd.read_csv('listado-de-empresas(1).csv')
banderas=pd.read_csv('listado-empresas-bandera.csv')

In [5]:
empresa

,id_empresa,nombre_empresa,id_empresa_bandera,direccion,localidad,provincia,region,latitud,longitud
0,102,M.P.C.I. S.A.,20,RUTA 3 KM. 298,AZUL,BUENOS AIRES,Pampeana,-36.788170,-59.834700
1,104,CALCAGNO RICARDO OMAR Y CALCAGNO RICARDO JAVIE...,4,AV. 25 DE MAYO 280,RESISTENCIA,CHACO,Noreste,-27.448803,-58.988820
2,105,LAS SIERRAS S.R.L,1,RUTA 36 Y ACCESO 005,RIO CUARTO,CORDOBA,Centro,-33.081140,-64.339980
3,107,MACHAGAI COMBUSTIBLES SRL,2,M.MORENO Y 25 DE MAYO,MACHAGAY,CHACO,Noreste,-26.924700,-60.046930
4,108,JACQUELIN O Y CARIGNANO J S DE HECHO,2,GENERAL LOPEZ 433,WHEELWRIGHT,SANTA FE,Centro,-33.791756,-61.206679
...,...,...,...,...,...,...,...,...,...
5552,10964,G.N.C. CALAMUCHITA S.R.L.,6,HIPOLITO YRIGOYEN 599,SANTA ROSA DE CALAMUCHITA,CORDOBA,Centro,-32.071690,-64.528370
5553,10965,SERVICIOS TARALLI SA,28,RUTA PROVINCIAL 21 Y 24 DE SEPTIEMBRE 2,BANDERA,SANTIAGO DEL ESTERO,Noroeste,-28.889600,-62.272870
5554,10967,LAS VEGAS SA,29,RUTA 6 KM 57,FRANCK,SANTA FE,Centro,-31.578650,-60.936580
5555,10968,ESTACION DEHEZA S.R.L.,1,AV. PTE RAUL ALFONSIN 2580/82,LANUS,BUENOS AIRES,Pampeana,-34.709900,-58.366622
5556,10969,FASENA ENERGIA S.A,4,Av.11 de Septiembre 4778,CORDOBA,CORDOBA,Centro,-31.463317,-64.147649

## Comenzamos a unir los dataframe para tener mas caracterizticas

In [11]:
merged_df = pd.merge(precios, combustible, on='id_producto', how='left')

In [12]:
merged_df

,Fecha,id_producto,Precio Ars,id_empresa,Cotizacion_DolarBlue,Precio_dolarBlue,Cotizacion_DolarOficial,Precio_dolarOficial,nombre_producto
0,2001-01-01,21,0.54,5572,2.95,0.183051,1.600000,0.337500,Gas Oil Grado 3
1,2001-07-20,2,1.09,1397,2.95,0.369492,1.600000,0.681250,Nafta (súper) entre 92 y 95 Ron
2,2001-08-20,6,0.60,732,2.95,0.203390,1.600000,0.375000,GNC
3,2001-10-20,3,1.18,8681,2.95,0.400000,1.600000,0.737500,Nafta (premium) de más de 95 Ron
4,2002-02-20,19,1.19,3745,2.20,0.540909,1.600000,0.743750,Gas Oil Grado 2
...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,19,955.00,8092,1010.00,0.945545,901.630005,1.059193,Gas Oil Grado 2
1296926,2024-04-01,21,1149.00,8092,1010.00,1.137624,901.630005,1.274359,Gas Oil Grado 3
1296927,2024-04-01,19,985.00,1376,1010.00,0.975248,901.630005,1.092466,Gas Oil Grado 2
1296928,2024-04-02,19,968.00,3720,1010.00,0.958416,901.630005,1.073611,Gas Oil Grado 2
1296929,2024-04-02,3,1034.00,8079,1010.00,1.023762,901.630005,1.146812,Nafta (premium) de más de 95 Ron

In [13]:
merged_df2=pd.merge(merged_df,empresa,on='id_empresa',how='left')

In [9]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296930 entries, 0 to 1296929
Data columns (total 17 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Fecha                    1296930 non-null  datetime64[ns]
 1   id_producto              1296930 non-null  int16
 2   Precio Ars               1296930 non-null  float64
 3   id_empresa               1296930 non-null  int16
 4   Cotizacion_DolarBlue     1296930 non-null  float32
 5   Precio_dolarBlue         1296930 non-null  float64
 6   Cotizacion_DolarOficial  1296930 non-null  float32
 7   Precio_dolarOficial      1296930 non-null  float64
 8   nombre_producto          1296930 non-null  object
 9   nombre_empresa           1296930 non-null  object
 10  id_empresa_bandera       1296930 non-null  int64
 11  direccion                1296930 non-null  object
 12  localidad                1296930 non-null  object
 13  provincia                1296930 non-null  object
 14  region                   1296930 non-null  object
 15  latitud                  1296930 non-null  float64
 16  longitud                 1296930 non-null  float64
dtypes: datetime64[ns](1), float32(2), float64(5), int16(2), int64(1), object(6)
memory usage: 143.5+ MB

In [10]:
merged_df2

,Fecha,id_producto,Precio Ars,id_empresa,Cotizacion_DolarBlue,Precio_dolarBlue,Cotizacion_DolarOficial,Precio_dolarOficial,nombre_producto,nombre_empresa,id_empresa_bandera,direccion,localidad,provincia,region,latitud,longitud
0,2001-01-01,21,0.54,5572,2.95,0.183051,1.600000,0.337500,Gas Oil Grado 3,ESTACION DE SERVICIOS SAN MARTIN SRL,8,lavalle 824,SAN MIGUEL DE TUCUMAN,TUCUMAN,Cuyo,-26.838420,-65.211420
1,2001-07-20,2,1.09,1397,2.95,0.369492,1.600000,0.681250,Nafta (súper) entre 92 y 95 Ron,LOSANO Y CIA.S.A.,26,Moreno 850,HERNANDO,CORDOBA,Centro,-32.434480,-63.727842
2,2001-08-20,6,0.60,732,2.95,0.203390,1.600000,0.375000,GNC,"P.A.Y S. (PATRIA, AMISTAD Y SERVICIO)",2,BARTOLOME MITRE 1056,LUJAN,BUENOS AIRES,Pampeana,-34.569050,-59.107550
3,2001-10-20,3,1.18,8681,2.95,0.400000,1.600000,0.737500,Nafta (premium) de más de 95 Ron,SERVICIOS LER SA,26,camino de la virgen maria 3085,TAPIALES,BUENOS AIRES,Pampeana,-34.709030,-58.504607
4,2002-02-20,19,1.19,3745,2.20,0.540909,1.600000,0.743750,Gas Oil Grado 2,BRAMBILLA JORGE RAUL,28,RUTA NAC Nº 14 KM 366,MOCORETA,CORRIENTES,Noreste,-30.422930,-57.980070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,19,955.00,8092,1010.00,0.945545,901.630005,1.059193,Gas Oil Grado 2,EL ALAMO SRL,2,PIEDRA BUENA 980,PUERTO SAN JULIAN,SANTA CRUZ,Patagonia,-49.306250,-67.729520
1296926,2024-04-01,21,1149.00,8092,1010.00,1.137624,901.630005,1.274359,Gas Oil Grado 3,EL ALAMO SRL,2,PIEDRA BUENA 980,PUERTO SAN JULIAN,SANTA CRUZ,Patagonia,-49.306250,-67.729520
1296927,2024-04-01,19,985.00,1376,1010.00,0.975248,901.630005,1.092466,Gas Oil Grado 2,10 DE SETIEMBRE S.A.,28,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Pampeana,-34.658476,-58.529443
1296928,2024-04-02,19,968.00,3720,1010.00,0.958416,901.630005,1.073611,Gas Oil Grado 2,SERVIQUIL S.R.L.,26,Av. Mosconi 2700,QUILMES,BUENOS AIRES,Pampeana,-34.753022,-58.289601
1296929,2024-04-02,3,1034.00,8079,1010.00,1.023762,901.630005,1.146812,Nafta (premium) de más de 95 Ron,SERVICIOS TIGRE S.A:,4,JUAN B. JUSTO 4490,CAPITAL FEDERAL,CAPITAL FEDERAL,Pampeana,-34.608243,-58.463643

In [14]:
merged_df3=pd.merge(merged_df2,banderas,on='id_empresa_bandera',how='left')

In [12]:
merged_df3

,Fecha,id_producto,Precio Ars,id_empresa,Cotizacion_DolarBlue,Precio_dolarBlue,Cotizacion_DolarOficial,Precio_dolarOficial,nombre_producto,nombre_empresa,id_empresa_bandera,direccion,localidad,provincia,region,latitud,longitud,nombre_empresa_bandera
0,2001-01-01,21,0.54,5572,2.95,0.183051,1.600000,0.337500,Gas Oil Grado 3,ESTACION DE SERVICIOS SAN MARTIN SRL,8,lavalle 824,SAN MIGUEL DE TUCUMAN,TUCUMAN,Cuyo,-26.838420,-65.211420,REFINOR
1,2001-07-20,2,1.09,1397,2.95,0.369492,1.600000,0.681250,Nafta (súper) entre 92 y 95 Ron,LOSANO Y CIA.S.A.,26,Moreno 850,HERNANDO,CORDOBA,Centro,-32.434480,-63.727842,AXION
2,2001-08-20,6,0.60,732,2.95,0.203390,1.600000,0.375000,GNC,"P.A.Y S. (PATRIA, AMISTAD Y SERVICIO)",2,BARTOLOME MITRE 1056,LUJAN,BUENOS AIRES,Pampeana,-34.569050,-59.107550,YPF
3,2001-10-20,3,1.18,8681,2.95,0.400000,1.600000,0.737500,Nafta (premium) de más de 95 Ron,SERVICIOS LER SA,26,camino de la virgen maria 3085,TAPIALES,BUENOS AIRES,Pampeana,-34.709030,-58.504607,AXION
4,2002-02-20,19,1.19,3745,2.20,0.540909,1.600000,0.743750,Gas Oil Grado 2,BRAMBILLA JORGE RAUL,28,RUTA NAC Nº 14 KM 366,MOCORETA,CORRIENTES,Noreste,-30.422930,-57.980070,PUMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,19,955.00,8092,1010.00,0.945545,901.630005,1.059193,Gas Oil Grado 2,EL ALAMO SRL,2,PIEDRA BUENA 980,PUERTO SAN JULIAN,SANTA CRUZ,Patagonia,-49.306250,-67.729520,YPF
1296926,2024-04-01,21,1149.00,8092,1010.00,1.137624,901.630005,1.274359,Gas Oil Grado 3,EL ALAMO SRL,2,PIEDRA BUENA 980,PUERTO SAN JULIAN,SANTA CRUZ,Patagonia,-49.306250,-67.729520,YPF
1296927,2024-04-01,19,985.00,1376,1010.00,0.975248,901.630005,1.092466,Gas Oil Grado 2,10 DE SETIEMBRE S.A.,28,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Pampeana,-34.658476,-58.529443,PUMA
1296928,2024-04-02,19,968.00,3720,1010.00,0.958416,901.630005,1.073611,Gas Oil Grado 2,SERVIQUIL S.R.L.,26,Av. Mosconi 2700,QUILMES,BUENOS AIRES,Pampeana,-34.753022,-58.289601,AXION
1296929,2024-04-02,3,1034.00,8079,1010.00,1.023762,901.630005,1.146812,Nafta (premium) de más de 95 Ron,SERVICIOS TIGRE S.A:,4,JUAN B. JUSTO 4490,CAPITAL FEDERAL,CAPITAL FEDERAL,Pampeana,-34.608243,-58.463643,SHELL C.A.P.S.A.

Se crea un DF de prueba para ver si las caracterizticas son utiles

In [15]:
prueba = merged_df3[['Fecha', 'nombre_producto', 'region', 'Precio_dolarBlue', 'Precio_dolarOficial', 'Precio Ars','region' ,'Cotizacion_DolarOficial','Cotizacion_DolarBlue','nombre_empresa_bandera']]

In [16]:
prueba

,Fecha,nombre_producto,region,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,region,Cotizacion_DolarOficial,Cotizacion_DolarBlue,nombre_empresa_bandera
0,2001-01-01,Gas Oil Grado 3,Cuyo,0.183051,0.337500,0.54,Cuyo,1.600000,2.95,REFINOR
1,2001-07-20,Nafta (súper) entre 92 y 95 Ron,Centro,0.369492,0.681250,1.09,Centro,1.600000,2.95,AXION
2,2001-08-20,GNC,Pampeana,0.203390,0.375000,0.60,Pampeana,1.600000,2.95,YPF
3,2001-10-20,Nafta (premium) de más de 95 Ron,Pampeana,0.400000,0.737500,1.18,Pampeana,1.600000,2.95,AXION
4,2002-02-20,Gas Oil Grado 2,Noreste,0.540909,0.743750,1.19,Noreste,1.600000,2.20,PUMA
...,...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,Gas Oil Grado 2,Patagonia,0.945545,1.059193,955.00,Patagonia,901.630005,1010.00,YPF
1296926,2024-04-01,Gas Oil Grado 3,Patagonia,1.137624,1.274359,1149.00,Patagonia,901.630005,1010.00,YPF
1296927,2024-04-01,Gas Oil Grado 2,Pampeana,0.975248,1.092466,985.00,Pampeana,901.630005,1010.00,PUMA
1296928,2024-04-02,Gas Oil Grado 2,Pampeana,0.958416,1.073611,968.00,Pampeana,901.630005,1010.00,AXION
1296929,2024-04-02,Nafta (premium) de más de 95 Ron,Pampeana,1.023762,1.146812,1034.00,Pampeana,901.630005,1010.00,SHELL C.A.P.S.A.

Se crea una columna con la fecha en formato unix que la toma mejor el modelo

In [17]:
prueba['Fecha_unix'] = prueba['Fecha'].astype('int64') // 10**9

C:\Users\Pedro\AppData\Local\Temp\ipykernel_1592\1351682468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prueba['Fecha_unix'] = prueba['Fecha'].astype('int64') // 10**9

In [49]:
prueba

,Fecha,region,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,region,Cotizacion_DolarOficial,Cotizacion_DolarBlue,nombre_empresa_bandera,Fecha_unix,GNC,Gas Oil Grado 2,Gas Oil Grado 3,Nafta (premium) de más de 95 Ron,Nafta (súper) entre 92 y 95 Ron
0,2001-01-01,Cuyo,0.183051,0.337500,0.54,Cuyo,1.600000,2.95,REFINOR,978307200,False,False,True,False,False
1,2001-07-20,Centro,0.369492,0.681250,1.09,Centro,1.600000,2.95,AXION,995587200,False,False,False,False,True
2,2001-08-20,Pampeana,0.203390,0.375000,0.60,Pampeana,1.600000,2.95,YPF,998265600,True,False,False,False,False
3,2001-10-20,Pampeana,0.400000,0.737500,1.18,Pampeana,1.600000,2.95,AXION,1003536000,False,False,False,True,False
4,2002-02-20,Noreste,0.540909,0.743750,1.19,Noreste,1.600000,2.20,PUMA,1014163200,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,Patagonia,0.945545,1.059193,955.00,Patagonia,901.630005,1010.00,YPF,1711929600,False,True,False,False,False
1296926,2024-04-01,Patagonia,1.137624,1.274359,1149.00,Patagonia,901.630005,1010.00,YPF,1711929600,False,False,True,False,False
1296927,2024-04-01,Pampeana,0.975248,1.092466,985.00,Pampeana,901.630005,1010.00,PUMA,1711929600,False,True,False,False,False
1296928,2024-04-02,Pampeana,0.958416,1.073611,968.00,Pampeana,901.630005,1010.00,AXION,1712016000,False,True,False,False,False
1296929,2024-04-02,Pampeana,1.023762,1.146812,1034.00,Pampeana,901.630005,1010.00,SHELL C.A.P.S.A.,1712016000,False,False,False,True,False

## Se realiza one_hot encoding para tomar mas caracterizticas se utiliza productos y region

In [18]:
df_one_hot = pd.get_dummies(prueba['nombre_producto'])

# Concatenar el DataFrame original con las variables one-hot
prueba = pd.concat([prueba, df_one_hot], axis=1)

# Eliminar la columna original 'nombre_producto' si así lo deseas
prueba.drop(columns=['nombre_producto'], inplace=True)

In [19]:
df_one_hot = pd.get_dummies(prueba['region'])

# Concatenar el DataFrame original con las variables one-hot
prueba = pd.concat([prueba, df_one_hot], axis=1)

# Eliminar la columna original 'nombre_producto' si así lo deseas
prueba.drop(columns=['region'], inplace=True)

Como se duplicaon las columnas se eliminan las repetidas de region porque afecta despues la utilizacion del modelo

In [20]:
df_sin_duplicados = prueba.loc[:, ~prueba.columns.duplicated()]

In [21]:
df_sin_duplicados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296930 entries, 0 to 1296929
Data columns (total 19 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   Fecha                             1296930 non-null  datetime64[ns]
 1   Precio_dolarBlue                  1296930 non-null  float64
 2   Precio_dolarOficial               1296930 non-null  float64
 3   Precio Ars                        1296930 non-null  float64
 4   Cotizacion_DolarOficial           1296930 non-null  float32
 5   Cotizacion_DolarBlue              1296930 non-null  float32
 6   nombre_empresa_bandera            1296930 non-null  object
 7   Fecha_unix                        1296930 non-null  int64
 8   GNC                               1296930 non-null  bool
 9   Gas Oil Grado 2                   1296930 non-null  bool
 10  Gas Oil Grado 3                   1296930 non-null  bool
 11  Nafta (premium) de más de 95 Ron  1296930 non-null  bool
 12  Nafta (súper) entre 92 y 95 Ron   1296930 non-null  bool
 13  region_Centro                     1296930 non-null  bool
 14  region_Cuyo                       1296930 non-null  bool
 15  region_Noreste                    1296930 non-null  bool
 16  region_Noroeste                   1296930 non-null  bool
 17  region_Pampeana                   1296930 non-null  bool
 18  region_Patagonia                  1296930 non-null  bool
dtypes: bool(11), datetime64[ns](1), float32(2), float64(3), int64(1), object(1)
memory usage: 82.9+ MB

Lo separo en dos DF el que se utiliza para probar el modelo y uno para hacer pruebas con datos que el modelo no ha visto

In [22]:
# Crear DataFrame solo con valores del 2015 al 2023
df_2015_2023 = df_sin_duplicados.loc[(df_sin_duplicados['Fecha'] >= '2015-01-01') & (df_sin_duplicados['Fecha'] <= '2023-12-31')]

# Crear DataFrame solo con valores del 2024
df_2024 = df_sin_duplicados.loc[df_sin_duplicados['Fecha'].dt.year == 2024]

In [65]:
df_2015_2023

,Fecha,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,Cotizacion_DolarOficial,Cotizacion_DolarBlue,nombre_empresa_bandera,Fecha_unix,GNC,Gas Oil Grado 2,Gas Oil Grado 3,Nafta (premium) de más de 95 Ron,Nafta (súper) entre 92 y 95 Ron,region_Centro,region_Cuyo,region_Noreste,region_Noroeste,region_Pampeana,region_Patagonia
72,2016-01-01,1.095670,1.170022,15.69,13.410000,14.32,SHELL C.A.P.S.A.,1451606400,False,True,False,False,False,False,False,False,False,True,False
73,2016-02-29,1.031390,1.015132,16.10,15.860000,15.61,PETROBRAS,1456704000,False,False,False,False,True,False,False,False,False,True,False
74,2016-03-31,1.115989,1.143721,17.03,14.890000,15.26,PETROBRAS,1459382400,False,False,False,False,True,False,False,False,False,True,False
75,2016-04-01,0.854043,0.864847,12.99,15.020000,15.21,BLANCA,1459468800,True,False,False,False,False,False,False,False,False,True,False
76,2016-04-01,0.788297,0.798269,11.99,15.020000,15.21,BLANCA,1459468800,True,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223836,2023-12-31,0.808780,0.978621,829.00,847.109985,1025.00,YPF,1703980800,False,False,True,False,False,False,False,True,False,False,False
1223837,2023-12-31,0.707317,0.855851,725.00,847.109985,1025.00,DAPSA S.A.,1703980800,False,False,False,True,False,False,True,False,False,False,False
1223838,2023-12-31,0.794146,0.960914,814.00,847.109985,1025.00,PUMA,1703980800,False,False,False,True,False,False,False,False,False,True,False
1223839,2023-12-31,0.673171,0.814534,690.00,847.109985,1025.00,PUMA,1703980800,False,False,False,False,True,False,False,False,False,True,False
1223840,2023-12-31,0.763512,0.923847,782.60,847.109985,1025.00,AXION,1703980800,False,True,False,False,False,True,False,False,False,False,False

In [38]:
df_2015_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1223769 entries, 72 to 1223840
Data columns (total 19 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   Fecha                             1223769 non-null  datetime64[ns]
 1   Precio_dolarBlue                  1223769 non-null  float64
 2   Precio_dolarOficial               1223769 non-null  float64
 3   Precio Ars                        1223769 non-null  float64
 4   Cotizacion_DolarOficial           1223769 non-null  float32
 5   Cotizacion_DolarBlue              1223769 non-null  float32
 6   nombre_empresa_bandera            1223769 non-null  object
 7   Fecha_unix                        1223769 non-null  int64
 8   GNC                               1223769 non-null  bool
 9   Gas Oil Grado 2                   1223769 non-null  bool
 10  Gas Oil Grado 3                   1223769 non-null  bool
 11  Nafta (premium) de más de 95 Ron  1223769 non-null  bool
 12  Nafta (súper) entre 92 y 95 Ron   1223769 non-null  bool
 13  region_Centro                     1223769 non-null  bool
 14  region_Cuyo                       1223769 non-null  bool
 15  region_Noreste                    1223769 non-null  bool
 16  region_Noroeste                   1223769 non-null  bool
 17  region_Pampeana                   1223769 non-null  bool
 18  region_Patagonia                  1223769 non-null  bool
dtypes: bool(11), datetime64[ns](1), float32(2), float64(3), int64(1), object(1)
memory usage: 87.5+ MB

Se tomo un modelo de RNN de regresion lineal para poder aprender mas caracterizticas y poder predecir mas variables de salida

In [23]:
features=['Fecha_unix','producto_GNC','producto_Gas Oil Grado 2','producto_Gas Oil Grado 3','producto_Nafta (premium) de más de 95 Ron','producto_Nafta (súper) entre 92 y 95 Ron','Cotizacion_DolarOficial','Cotizacion_DolarBlue'
          ]
X = df_2015_2023.drop(columns=["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial","Fecha",'nombre_empresa_bandera'])
y = df_2015_2023[["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial"]]

# Dividir datos en conjunto de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Escalar características
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Construir modelo de regresión en TensorFlow con cuatro capas ocultas
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(3)  # Capa de salida con tres unidades
])

# Configurar el optimizador con tasa de aprendizaje personalizada
optimizer = tf.keras.optimizers.Adam(learning_rate=0.0001)  # Cambia 0.001 por el valor deseado de tasa de aprendizaje
model.compile(optimizer=optimizer, loss='mse')

# Entrenar modelo
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2)

# Realizar predicciones
predictions = model.predict(X_test_scaled)

# Evaluar modelo
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Epoch 1/50
WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

24476/24476 [==============================] - 69s 3ms/step - loss: 310.9247 - val_loss: 136.0753
Epoch 2/50
24476/24476 [==============================] - 61s 2ms/step - loss: 128.4317 - val_loss: 120.5554
Epoch 3/50
24476/24476 [==============================] - 73s 3ms/step - loss: 107.1884 - val_loss: 102.7745
Epoch 4/50
24476/24476 [==============================] - 78s 3ms/step - loss: 94.4483 - val_loss: 92.0435
Epoch 5/50
24476/24476 [==============================] - 78s 3ms/step - loss: 89.3114 - val_loss: 88.2685
Epoch 6/50
24476/24476 [==============================] - 92s 4ms/step - loss: 84.2184 - val_loss: 81.7790
Epoch 7/50
24476/24476 [==============================] - 70s 3ms/step - loss: 79.9059 - val_loss: 79.8787
Epoch 8/50
24476/24476 [==============================] - 72s 3ms/step - loss: 77.5041 - val_loss: 78.8116
Epoch 9/50
24476/24476 [==============================] - 72s 3ms/step - loss: 76.0684 - val_loss: 80.4445
Epoch 10/50
24476/24476 [==============================] - 73s 3ms/step - loss: 75.3193 - val_loss: 74.8945
Epoch 11/50
24476/24476 [==============================] - 73s 3ms/step - loss: 74.7658 - val_loss: 82.9618
Epoch 12/50
24476/24476 [==============================] - 76s 3ms/step - loss: 74.1997 - val_loss: 85.5912
Epoch 13/50
24476/24476 [==============================] - 76s 3ms/step - loss: 73.7606 - val_loss: 75.5444
Epoch 14/50
24476/24476 [==============================] - 79s 3ms/step - loss: 73.6278 - val_loss: 76.6770
Epoch 15/50
24476/24476 [==============================] - 81s 3ms/step - loss: 73.2209 - val_loss: 80.6172
Epoch 16/50
24476/24476 [==============================] - 79s 3ms/step - loss: 73.0460 - val_loss: 72.1782
Epoch 17/50
24476/24476 [==============================] - 80s 3ms/step - loss: 72.7912 - val_loss: 76.0435
Epoch 18/50
24476/24476 [==============================] - 96s 4ms/step - loss: 72.8435 - val_loss: 72.6744
Epoch 19/50
24476/24476 [==============================] - 78s 3ms/step - loss: 72.6641 - val_loss: 73.9650
Epoch 20/50
24476/24476 [==============================] - 77s 3ms/step - loss: 72.4177 - val_loss: 73.6334
Epoch 21/50
24476/24476 [==============================] - 77s 3ms/step - loss: 72.1736 - val_loss: 74.0464
Epoch 22/50
24476/24476 [==============================] - 78s 3ms/step - loss: 72.2019 - val_loss: 72.6662
Epoch 23/50
24476/24476 [==============================] - 79s 3ms/step - loss: 71.8969 - val_loss: 73.1138
Epoch 24/50
24476/24476 [==============================] - 81s 3ms/step - loss: 71.9196 - val_loss: 71.7258
Epoch 25/50
24476/24476 [==============================] - 79s 3ms/step - loss: 71.6744 - val_loss: 73.3308
Epoch 26/50
24476/24476 [==============================] - 81s 3ms/step - loss: 71.7666 - val_loss: 73.2051
Epoch 27/50
24476/24476 [==============================] - 87s 4ms/step - loss: 71.5039 - val_loss: 72.7143
Epoch 28/50
24476/24476 [==============================] - 79s 3ms/step - loss: 71.4481 - val_loss: 73.6327
Epoch 29/50
24476/24476 [==============================] - 80s 3ms/step - loss: 71.3891 - val_loss: 72.4438
Epoch 30/50
24476/24476 [==============================] - 92s 4ms/step - loss: 71.2931 - val_loss: 72.3083
Epoch 31/50
24476/24476 [==============================] - 85s 3ms/step - loss: 71.1657 - val_loss: 71.4003
Epoch 32/50
24476/24476 [==============================] - 79s 3ms/step - loss: 71.1116 - val_loss: 72.1010
Epoch 33/50
24476/24476 [==============================] - 80s 3ms/step - loss: 70.9914 - val_loss: 71.8263
Epoch 34/50
24476/24476 [==============================] - 79s 3ms/step - loss: 70.9464 - val_loss: 70.8273
Epoch 35/50
24476/24476 [==============================] - 81s 3ms/step - loss: 70.7182 - val_loss: 71.6979
Epoch 36/50
24476/24476 [==============================] - 82s 3ms/step - loss: 70.7208 - val_loss: 71.5138
Epoch 37/50
24476/24476 [==============================] - 80s 3ms/step - loss: 70.6845 - val_loss: 71.1572
Epoch 38/50
24476/24476 [==============================] - 85s 3ms/step - loss: 70.5462 - val_loss: 73.9576
Epoch 39/50
24476/24476 [==============================] - 86s 4ms/step - loss: 70.4775 - val_loss: 71.6842
Epoch 40/50
24476/24476 [==============================] - 81s 3ms/step - loss: 70.4848 - val_loss: 73.4929
Epoch 41/50
24476/24476 [==============================] - 104s 4ms/step - loss: 70.3793 - val_loss: 72.8016
Epoch 42/50
24476/24476 [==============================] - 81s 3ms/step - loss: 70.3907 - val_loss: 70.8266
Epoch 43/50
24476/24476 [==============================] - 81s 3ms/step - loss: 70.3245 - val_loss: 73.8048
Epoch 44/50
24476/24476 [==============================] - 81s 3ms/step - loss: 70.2031 - val_loss: 71.8380
Epoch 45/50
24476/24476 [==============================] - 82s 3ms/step - loss: 70.1166 - val_loss: 70.6738
Epoch 46/50
24476/24476 [==============================] - 79s 3ms/step - loss: 70.1430 - val_loss: 71.5476
Epoch 47/50
24476/24476 [==============================] - 79s 3ms/step - loss: 70.0656 - val_loss: 70.5268
Epoch 48/50
24476/24476 [==============================] - 80s 3ms/step - loss: 69.9445 - val_loss: 73.4239
Epoch 49/50
24476/24476 [==============================] - 78s 3ms/step - loss: 69.9404 - val_loss: 74.3259
Epoch 50/50
24476/24476 [==============================] - 79s 3ms/step - loss: 69.9370 - val_loss: 70.2423
7649/7649 [==============================] - 13s 2ms/step
Mean Squared Error: 65.79293589501964

# Se hacen pruebas del modelo para ver como trabajan y se guarda para su usu posterior

In [25]:
X_2024 = df_2024.drop(columns=["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial","Fecha",'nombre_empresa_bandera'])  # Utiliza las mismas características que durante el entrenamiento
X_2024_scaled = scaler.transform(X_2024)  # Escala las características con el mismo scaler

# Realizar predicciones
predictions_2024 = model.predict(X_2024_scaled)

# Comparar con resultados reales
y_real_2024 = df_2024[["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial"]]
mse_2024 = mean_squared_error(y_real_2024, predictions_2024)
print("Mean Squared Error on 2024 data:", mse_2024)

2285/2285 [==============================] - 3s 1ms/step
Mean Squared Error on 2024 data: 14555.781071464735

In [26]:
comparison_df = pd.DataFrame({
    "Fecha": df_2024["Fecha"],  # Agrega la fecha para referencia
    "Precio_Ars_Real": y_real_2024["Precio Ars"].values,  # Precios reales
   
    "Precio_dolarBlue" :y_real_2024["Precio_dolarBlue"].values,
    "Precio_dolarOficial":y_real_2024["Precio_dolarOficial"].values,
    "Precio_Ars_Prediccion": predictions_2024[:, 0],  # Predicciones del modelo para Precio Ars
    "Precio_DolarBlue_Prediccion": predictions_2024[:, 1],  # Predicciones del modelo para Precio DolarBlue
    "Precio_DolarOficial_Prediccion": predictions_2024[:, 2]  # Predicciones del modelo para Precio DolarOficial
})

In [27]:
comparison_df

,Fecha,Precio_Ars_Real,Precio_dolarBlue,Precio_dolarOficial,Precio_Ars_Prediccion,Precio_DolarBlue_Prediccion,Precio_DolarOficial_Prediccion
1223841,2024-01-01,769.0,0.750244,0.907792,738.295349,0.604561,0.993876
1223842,2024-01-01,255.0,0.248780,0.301023,210.787003,0.405526,0.346154
1223843,2024-01-01,1057.0,1.031220,1.247772,826.151184,0.752709,1.116854
1223844,2024-01-01,640.0,0.624390,0.755510,713.918152,0.602791,0.877162
1223845,2024-01-01,1390.0,1.356098,1.640873,844.629639,0.672352,1.081709
...,...,...,...,...,...,...,...
1296925,2024-04-01,955.0,0.945545,1.059193,780.842346,0.651034,0.864352
1296926,2024-04-01,1149.0,1.137624,1.274359,892.974548,0.656794,0.866419
1296927,2024-04-01,985.0,0.975248,1.092466,807.976868,0.638844,0.897376
1296928,2024-04-02,968.0,0.958416,1.073611,808.497253,0.638741,0.897658
1296929,2024-04-02,1034.0,1.023762,1.146812,884.232849,0.607270,0.872286

In [ ]:
comparison_df.head(10)

,Fecha,Precio_Ars_Real,Precio_dolarBlue,Precio_dolarOficial,Precio_Ars_Prediccion,Precio_DolarBlue_Prediccion,Precio_DolarOficial_Prediccion
1223841,2024-01-01,769.0,0.750244,0.907792,737.023682,0.631831,0.899652
1223842,2024-01-01,255.0,0.248780,0.301023,265.997833,0.301383,0.229488
1223843,2024-01-01,1057.0,1.031220,1.247772,854.879517,0.801405,1.000640
1223844,2024-01-01,640.0,0.624390,0.755510,731.384766,0.612585,0.819202
1223845,2024-01-01,1390.0,1.356098,1.640873,875.537598,0.823118,0.921539
1223846,2024-01-01,707.0,0.689756,0.834602,737.023682,0.631831,0.899652
1223847,2024-01-01,1032.0,1.006829,1.218260,854.879517,0.801405,1.000640
1223848,2024-01-01,874.0,0.852683,1.031743,737.023682,0.631831,0.899652
1223849,2024-01-01,662.0,0.645854,0.781481,682.177490,0.564793,0.777749
1223850,2024-01-01,775.0,0.756098,0.914875,848.504395,0.673980,0.832902

Se guarda en archivos el modelo entrenado para su posterior uso

In [28]:
import pickle

# Guardar el modelo entrenado en un archivo Pickle
with open('modelo_entrenado.pkl', 'wb') as f:
    pickle.dump(model, f)

In [29]:
with open('scaler.pkl', 'wb') as archivo:
    pickle.dump(scaler, archivo)

# Pruebas del modelo desde el archivo pkl

Se crea una variable diccionario con todos los datos que solicta el modelo para trabajar para un facil uso algunas se dejan fijas para que le usuario no deba 
ingresar muchos datos para una prediccion

In [47]:
variables = {
    'Cotizacion_DolarOficial': 1000.0,  # Valor opcional a modificar
    'Cotizacion_DolarBlue': 1200.0,      # Valor opcional a modificar
    'Fecha_unix': 0,                  # Valor opcional a modificar (se asume unix)
    'GNC': False,
    'Gas Oil Grado 2': False,
    'Gas Oil Grado 3': False,
    'Nafta (premium) de más de 95 Ron': False,
    'Nafta (súper) entre 92 y 95 Ron': False,
    'region_Centro': False,
    'region_Cuyo': False,
    'region_Noreste': False,
    'region_Noroeste': False,
    'region_Pampeana': False,
    'region_Patagonia': False
}

In [31]:
import pickle

# Carga el scaler desde el archivo .pkl
with open('scaler.pkl', 'rb') as archivo:
    scaler_cargado = pickle.load(archivo)

# Carga el modelo desde el archivo .pkl
with open('modelo_entrenado.pkl', 'rb') as archivo:
    modelo_cargado = pickle.load(archivo)

# Ahora puedes usar scaler_cargado para normalizar tus datos antes de pasarlos al modelo_cargado

In [48]:
from datetime import datetime
def modificar_variables(variables, fecha=None, region=None, producto=None):
    if fecha is not None:
        # Convertir la fecha a un timestamp UNIX
        fecha_unix = datetime.strptime(fecha, '%d-%m-%Y').timestamp()
        variables['Fecha_unix'] = int(fecha_unix)
    if region is not None:
        variables[f'region_{region}'] = True
    if producto is not None:
        variables[f'{producto}'] = True

Le damos unos datos de prueba para ver como trabaja

In [54]:
fecha_usuario = "19-05-2024"  # Fecha ingresada por el usuario en formato día-mes-año
region_usuario = 'Pampeana'   # Región ingresada por el usuario
producto_usuario = 'Gas Oil Grado 2'      # Producto ingresado por el usuario

modificar_variables(variables, fecha_usuario, region_usuario, producto_usuario)

print(variables)

{'Cotizacion_DolarOficial': 1000.0, 'Cotizacion_DolarBlue': 1200.0, 'Fecha_unix': 1716087600, 'GNC': False, 'Gas Oil Grado 2': True, 'Gas Oil Grado 3': False, 'Nafta (premium) de más de 95 Ron': False, 'Nafta (súper) entre 92 y 95 Ron': False, 'region_Centro': False, 'region_Cuyo': False, 'region_Noreste': False, 'region_Noroeste': False, 'region_Pampeana': True, 'region_Patagonia': False}

In [55]:
nuevos_datos_normalizados = scaler_cargado.transform(np.array([list(variables.values())]))

# Realiza la predicción con el modelo cargado
prediccion = modelo_cargado.predict(nuevos_datos_normalizados)

c:\python\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

1/1 [==============================] - 1s 783ms/step

Mostramos los resultados que da en su prediccion

In [56]:
resultados = [[f"{value:.2f}" for value in prediction] for prediction in prediccion]
print("Predicción:", resultados)

Predicción: [['833.50', '0.51', '0.88']]

Se concluye que hay tantas variables externas que influyen en el precio que si no se tienen en cuenta afecta mucho el valor