In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
precios=pd.read_parquet('Historico precios con dolar.parquet')
combustible=pd.read_csv('listado-de-productos.csv')
empresa=pd.read_csv('listado-de-empresas(1).csv')
banderas=pd.read_csv('listado-empresas-bandera.csv')

In [20]:
empresa

,id_empresa,nombre_empresa,id_empresa_bandera,direccion,localidad,provincia,region,latitud,longitud
0,102,M.P.C.I. S.A.,20,RUTA 3 KM. 298,AZUL,BUENOS AIRES,Pampeana,-36.788170,-59.834700
1,104,CALCAGNO RICARDO OMAR Y CALCAGNO RICARDO JAVIE...,4,AV. 25 DE MAYO 280,RESISTENCIA,CHACO,Noreste,-27.448803,-58.988820
2,105,LAS SIERRAS S.R.L,1,RUTA 36 Y ACCESO 005,RIO CUARTO,CORDOBA,Centro,-33.081140,-64.339980
3,107,MACHAGAI COMBUSTIBLES SRL,2,M.MORENO Y 25 DE MAYO,MACHAGAY,CHACO,Noreste,-26.924700,-60.046930
4,108,JACQUELIN O Y CARIGNANO J S DE HECHO,2,GENERAL LOPEZ 433,WHEELWRIGHT,SANTA FE,Centro,-33.791756,-61.206679
...,...,...,...,...,...,...,...,...,...
5552,10964,G.N.C. CALAMUCHITA S.R.L.,6,HIPOLITO YRIGOYEN 599,SANTA ROSA DE CALAMUCHITA,CORDOBA,Centro,-32.071690,-64.528370
5553,10965,SERVICIOS TARALLI SA,28,RUTA PROVINCIAL 21 Y 24 DE SEPTIEMBRE 2,BANDERA,SANTIAGO DEL ESTERO,Noroeste,-28.889600,-62.272870
5554,10967,LAS VEGAS SA,29,RUTA 6 KM 57,FRANCK,SANTA FE,Centro,-31.578650,-60.936580
5555,10968,ESTACION DEHEZA S.R.L.,1,AV. PTE RAUL ALFONSIN 2580/82,LANUS,BUENOS AIRES,Pampeana,-34.709900,-58.366622
5556,10969,FASENA ENERGIA S.A,4,Av.11 de Septiembre 4778,CORDOBA,CORDOBA,Centro,-31.463317,-64.147649

In [15]:
merged_df = pd.merge(precios, combustible, on='id_producto', how='left')

In [4]:
merged_df

,Fecha,id_producto,Precio Ars,id_empresa,Cotizacion_DolarBlue,Precio_dolarBlue,Cotizacion_DolarOficial,Precio_dolarOficial,nombre_producto
0,2001-01-01,21,0.54,5572,2.95,0.183051,1.600000,0.337500,Gas Oil Grado 3
1,2001-07-20,2,1.09,1397,2.95,0.369492,1.600000,0.681250,Nafta (sÃºper) entre 92 y 95 Ron
2,2001-08-20,6,0.60,732,2.95,0.203390,1.600000,0.375000,GNC
3,2001-10-20,3,1.18,8681,2.95,0.400000,1.600000,0.737500,Nafta (premium) de mÃ¡s de 95 Ron
4,2002-02-20,19,1.19,3745,2.20,0.540909,1.600000,0.743750,Gas Oil Grado 2
...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,19,955.00,8092,1010.00,0.945545,901.630005,1.059193,Gas Oil Grado 2
1296926,2024-04-01,21,1149.00,8092,1010.00,1.137624,901.630005,1.274359,Gas Oil Grado 3
1296927,2024-04-01,19,985.00,1376,1010.00,0.975248,901.630005,1.092466,Gas Oil Grado 2
1296928,2024-04-02,19,968.00,3720,1010.00,0.958416,901.630005,1.073611,Gas Oil Grado 2
1296929,2024-04-02,3,1034.00,8079,1010.00,1.023762,901.630005,1.146812,Nafta (premium) de mÃ¡s de 95 Ron

In [16]:
merged_df2=pd.merge(merged_df,empresa,on='id_empresa',how='left')

In [6]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296930 entries, 0 to 1296929
Data columns (total 17 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Fecha                    1296930 non-null  datetime64[ns]
 1   id_producto              1296930 non-null  int16
 2   Precio Ars               1296930 non-null  float64
 3   id_empresa               1296930 non-null  int16
 4   Cotizacion_DolarBlue     1296930 non-null  float32
 5   Precio_dolarBlue         1296930 non-null  float64
 6   Cotizacion_DolarOficial  1296930 non-null  float32
 7   Precio_dolarOficial      1296930 non-null  float64
 8   nombre_producto          1296930 non-null  object
 9   nombre_empresa           1296930 non-null  object
 10  id_empresa_bandera       1296930 non-null  int64
 11  direccion                1296930 non-null  object
 12  localidad                1296930 non-null  object
 13  provincia                1296930 non-null  object
 14  region                   1296930 non-null  object
 15  latitud                  1296930 non-null  float64
 16  longitud                 1296930 non-null  float64
dtypes: datetime64[ns](1), float32(2), float64(5), int16(2), int64(1), object(6)
memory usage: 143.5+ MB

In [7]:
merged_df2

,Fecha,id_producto,Precio Ars,id_empresa,Cotizacion_DolarBlue,Precio_dolarBlue,Cotizacion_DolarOficial,Precio_dolarOficial,nombre_producto,nombre_empresa,id_empresa_bandera,direccion,localidad,provincia,region,latitud,longitud
0,2001-01-01,21,0.54,5572,2.95,0.183051,1.600000,0.337500,Gas Oil Grado 3,ESTACION DE SERVICIOS SAN MARTIN SRL,8,lavalle 824,SAN MIGUEL DE TUCUMAN,TUCUMAN,Cuyo,-26.838420,-65.211420
1,2001-07-20,2,1.09,1397,2.95,0.369492,1.600000,0.681250,Nafta (sÃºper) entre 92 y 95 Ron,LOSANO Y CIA.S.A.,26,Moreno 850,HERNANDO,CORDOBA,Centro,-32.434480,-63.727842
2,2001-08-20,6,0.60,732,2.95,0.203390,1.600000,0.375000,GNC,"P.A.Y S. (PATRIA, AMISTAD Y SERVICIO)",2,BARTOLOME MITRE 1056,LUJAN,BUENOS AIRES,Pampeana,-34.569050,-59.107550
3,2001-10-20,3,1.18,8681,2.95,0.400000,1.600000,0.737500,Nafta (premium) de mÃ¡s de 95 Ron,SERVICIOS LER SA,26,camino de la virgen maria 3085,TAPIALES,BUENOS AIRES,Pampeana,-34.709030,-58.504607
4,2002-02-20,19,1.19,3745,2.20,0.540909,1.600000,0.743750,Gas Oil Grado 2,BRAMBILLA JORGE RAUL,28,RUTA NAC NÂº 14 KM 366,MOCORETA,CORRIENTES,Noreste,-30.422930,-57.980070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,19,955.00,8092,1010.00,0.945545,901.630005,1.059193,Gas Oil Grado 2,EL ALAMO SRL,2,PIEDRA BUENA 980,PUERTO SAN JULIAN,SANTA CRUZ,Patagonia,-49.306250,-67.729520
1296926,2024-04-01,21,1149.00,8092,1010.00,1.137624,901.630005,1.274359,Gas Oil Grado 3,EL ALAMO SRL,2,PIEDRA BUENA 980,PUERTO SAN JULIAN,SANTA CRUZ,Patagonia,-49.306250,-67.729520
1296927,2024-04-01,19,985.00,1376,1010.00,0.975248,901.630005,1.092466,Gas Oil Grado 2,10 DE SETIEMBRE S.A.,28,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Pampeana,-34.658476,-58.529443
1296928,2024-04-02,19,968.00,3720,1010.00,0.958416,901.630005,1.073611,Gas Oil Grado 2,SERVIQUIL S.R.L.,26,Av. Mosconi 2700,QUILMES,BUENOS AIRES,Pampeana,-34.753022,-58.289601
1296929,2024-04-02,3,1034.00,8079,1010.00,1.023762,901.630005,1.146812,Nafta (premium) de mÃ¡s de 95 Ron,SERVICIOS TIGRE S.A:,4,JUAN B. JUSTO 4490,CAPITAL FEDERAL,CAPITAL FEDERAL,Pampeana,-34.608243,-58.463643

In [17]:
merged_df3=pd.merge(merged_df2,banderas,on='id_empresa_bandera',how='left')

In [18]:
merged_df3

,Fecha,id_producto,Precio Ars,id_empresa,Cotizacion_DolarBlue,Precio_dolarBlue,Cotizacion_DolarOficial,Precio_dolarOficial,nombre_producto,nombre_empresa,id_empresa_bandera,direccion,localidad,provincia,region,latitud,longitud,nombre_empresa_bandera
0,2001-01-01,21,0.54,5572,2.95,0.183051,1.600000,0.337500,Gas Oil Grado 3,ESTACION DE SERVICIOS SAN MARTIN SRL,8,lavalle 824,SAN MIGUEL DE TUCUMAN,TUCUMAN,Cuyo,-26.838420,-65.211420,REFINOR
1,2001-07-20,2,1.09,1397,2.95,0.369492,1.600000,0.681250,Nafta (sÃºper) entre 92 y 95 Ron,LOSANO Y CIA.S.A.,26,Moreno 850,HERNANDO,CORDOBA,Centro,-32.434480,-63.727842,AXION
2,2001-08-20,6,0.60,732,2.95,0.203390,1.600000,0.375000,GNC,"P.A.Y S. (PATRIA, AMISTAD Y SERVICIO)",2,BARTOLOME MITRE 1056,LUJAN,BUENOS AIRES,Pampeana,-34.569050,-59.107550,YPF
3,2001-10-20,3,1.18,8681,2.95,0.400000,1.600000,0.737500,Nafta (premium) de mÃ¡s de 95 Ron,SERVICIOS LER SA,26,camino de la virgen maria 3085,TAPIALES,BUENOS AIRES,Pampeana,-34.709030,-58.504607,AXION
4,2002-02-20,19,1.19,3745,2.20,0.540909,1.600000,0.743750,Gas Oil Grado 2,BRAMBILLA JORGE RAUL,28,RUTA NAC NÂº 14 KM 366,MOCORETA,CORRIENTES,Noreste,-30.422930,-57.980070,PUMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,19,955.00,8092,1010.00,0.945545,901.630005,1.059193,Gas Oil Grado 2,EL ALAMO SRL,2,PIEDRA BUENA 980,PUERTO SAN JULIAN,SANTA CRUZ,Patagonia,-49.306250,-67.729520,YPF
1296926,2024-04-01,21,1149.00,8092,1010.00,1.137624,901.630005,1.274359,Gas Oil Grado 3,EL ALAMO SRL,2,PIEDRA BUENA 980,PUERTO SAN JULIAN,SANTA CRUZ,Patagonia,-49.306250,-67.729520,YPF
1296927,2024-04-01,19,985.00,1376,1010.00,0.975248,901.630005,1.092466,Gas Oil Grado 2,10 DE SETIEMBRE S.A.,28,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Pampeana,-34.658476,-58.529443,PUMA
1296928,2024-04-02,19,968.00,3720,1010.00,0.958416,901.630005,1.073611,Gas Oil Grado 2,SERVIQUIL S.R.L.,26,Av. Mosconi 2700,QUILMES,BUENOS AIRES,Pampeana,-34.753022,-58.289601,AXION
1296929,2024-04-02,3,1034.00,8079,1010.00,1.023762,901.630005,1.146812,Nafta (premium) de mÃ¡s de 95 Ron,SERVICIOS TIGRE S.A:,4,JUAN B. JUSTO 4490,CAPITAL FEDERAL,CAPITAL FEDERAL,Pampeana,-34.608243,-58.463643,SHELL C.A.P.S.A.

In [19]:
prueba = merged_df3[['Fecha', 'nombre_producto', 'region', 'Precio_dolarBlue', 'Precio_dolarOficial', 'Precio Ars','region' ,'Cotizacion_DolarOficial','Cotizacion_DolarBlue','nombre_empresa_bandera']]

In [11]:
prueba

,Fecha,nombre_producto,region,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,id_empresa_bandera,Cotizacion_DolarOficial,Cotizacion_DolarBlue,nombre_empresa_bandera
0,2001-01-01,Gas Oil Grado 3,Cuyo,0.183051,0.337500,0.54,8,1.600000,2.95,REFINOR
1,2001-07-20,Nafta (sÃºper) entre 92 y 95 Ron,Centro,0.369492,0.681250,1.09,26,1.600000,2.95,AXION
2,2001-08-20,GNC,Pampeana,0.203390,0.375000,0.60,2,1.600000,2.95,YPF
3,2001-10-20,Nafta (premium) de mÃ¡s de 95 Ron,Pampeana,0.400000,0.737500,1.18,26,1.600000,2.95,AXION
4,2002-02-20,Gas Oil Grado 2,Noreste,0.540909,0.743750,1.19,28,1.600000,2.20,PUMA
...,...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,Gas Oil Grado 2,Patagonia,0.945545,1.059193,955.00,2,901.630005,1010.00,YPF
1296926,2024-04-01,Gas Oil Grado 3,Patagonia,1.137624,1.274359,1149.00,2,901.630005,1010.00,YPF
1296927,2024-04-01,Gas Oil Grado 2,Pampeana,0.975248,1.092466,985.00,28,901.630005,1010.00,PUMA
1296928,2024-04-02,Gas Oil Grado 2,Pampeana,0.958416,1.073611,968.00,26,901.630005,1010.00,AXION
1296929,2024-04-02,Nafta (premium) de mÃ¡s de 95 Ron,Pampeana,1.023762,1.146812,1034.00,4,901.630005,1010.00,SHELL C.A.P.S.A.

In [20]:
prueba['Fecha_unix'] = prueba['Fecha'].astype('int64') // 10**9

C:\Users\Pedro\AppData\Local\Temp\ipykernel_6180\1351682468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prueba['Fecha_unix'] = prueba['Fecha'].astype('int64') // 10**9

In [21]:
prueba

,Fecha,nombre_producto,region,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,region,Cotizacion_DolarOficial,Cotizacion_DolarBlue,nombre_empresa_bandera,Fecha_unix
0,2001-01-01,Gas Oil Grado 3,Cuyo,0.183051,0.337500,0.54,Cuyo,1.600000,2.95,REFINOR,978307200
1,2001-07-20,Nafta (sÃºper) entre 92 y 95 Ron,Centro,0.369492,0.681250,1.09,Centro,1.600000,2.95,AXION,995587200
2,2001-08-20,GNC,Pampeana,0.203390,0.375000,0.60,Pampeana,1.600000,2.95,YPF,998265600
3,2001-10-20,Nafta (premium) de mÃ¡s de 95 Ron,Pampeana,0.400000,0.737500,1.18,Pampeana,1.600000,2.95,AXION,1003536000
4,2002-02-20,Gas Oil Grado 2,Noreste,0.540909,0.743750,1.19,Noreste,1.600000,2.20,PUMA,1014163200
...,...,...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,Gas Oil Grado 2,Patagonia,0.945545,1.059193,955.00,Patagonia,901.630005,1010.00,YPF,1711929600
1296926,2024-04-01,Gas Oil Grado 3,Patagonia,1.137624,1.274359,1149.00,Patagonia,901.630005,1010.00,YPF,1711929600
1296927,2024-04-01,Gas Oil Grado 2,Pampeana,0.975248,1.092466,985.00,Pampeana,901.630005,1010.00,PUMA,1711929600
1296928,2024-04-02,Gas Oil Grado 2,Pampeana,0.958416,1.073611,968.00,Pampeana,901.630005,1010.00,AXION,1712016000
1296929,2024-04-02,Nafta (premium) de mÃ¡s de 95 Ron,Pampeana,1.023762,1.146812,1034.00,Pampeana,901.630005,1010.00,SHELL C.A.P.S.A.,1712016000

In [22]:
df_one_hot = pd.get_dummies(prueba['nombre_producto'], prefix='producto')

# Concatenar el DataFrame original con las variables one-hot
prueba = pd.concat([prueba, df_one_hot], axis=1)

# Eliminar la columna original 'nombre_producto' si asÃ­ lo deseas
prueba.drop(columns=['nombre_producto'], inplace=True)

In [23]:
df_one_hot = pd.get_dummies(prueba['region'])

# Concatenar el DataFrame original con las variables one-hot
prueba = pd.concat([prueba, df_one_hot], axis=1)

# Eliminar la columna original 'nombre_producto' si asÃ­ lo deseas
prueba.drop(columns=['region'], inplace=True)

In [24]:
# Crear DataFrame solo con valores del 2015 al 2023
df_2015_2023 = prueba.loc[(prueba['Fecha'] >= '2015-01-01') & (prueba['Fecha'] <= '2023-12-31')]

# Crear DataFrame solo con valores del 2024
df_2024 = prueba.loc[prueba['Fecha'].dt.year == 2024]

In [25]:
df_2015_2023

,Fecha,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,Cotizacion_DolarOficial,Cotizacion_DolarBlue,nombre_empresa_bandera,Fecha_unix,producto_GNC,producto_Gas Oil Grado 2,...,region_Noreste,region_Noroeste,region_Pampeana,region_Patagonia,region_Centro,region_Cuyo,region_Noreste,region_Noroeste,region_Pampeana,region_Patagonia
72,2016-01-01,1.095670,1.170022,15.69,13.410000,14.32,SHELL C.A.P.S.A.,1451606400,False,True,...,False,False,True,False,False,False,False,False,True,False
73,2016-02-29,1.031390,1.015132,16.10,15.860000,15.61,PETROBRAS,1456704000,False,False,...,False,False,True,False,False,False,False,False,True,False
74,2016-03-31,1.115989,1.143721,17.03,14.890000,15.26,PETROBRAS,1459382400,False,False,...,False,False,True,False,False,False,False,False,True,False
75,2016-04-01,0.854043,0.864847,12.99,15.020000,15.21,BLANCA,1459468800,True,False,...,False,False,True,False,False,False,False,False,True,False
76,2016-04-01,0.788297,0.798269,11.99,15.020000,15.21,BLANCA,1459468800,True,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223836,2023-12-31,0.808780,0.978621,829.00,847.109985,1025.00,YPF,1703980800,False,False,...,True,False,False,False,False,False,True,False,False,False
1223837,2023-12-31,0.707317,0.855851,725.00,847.109985,1025.00,DAPSA S.A.,1703980800,False,False,...,False,False,False,False,False,True,False,False,False,False
1223838,2023-12-31,0.794146,0.960914,814.00,847.109985,1025.00,PUMA,1703980800,False,False,...,False,False,True,False,False,False,False,False,True,False
1223839,2023-12-31,0.673171,0.814534,690.00,847.109985,1025.00,PUMA,1703980800,False,False,...,False,False,True,False,False,False,False,False,True,False
1223840,2023-12-31,0.763512,0.923847,782.60,847.109985,1025.00,AXION,1703980800,False,True,...,False,False,False,False,True,False,False,False,False,False

In [9]:
df_one_hot = pd.get_dummies(df_2015_2023['nombre_producto'], prefix='producto')

# Concatenar el DataFrame original con las variables one-hot
df_2015_2023 = pd.concat([df_2015_2023, df_one_hot], axis=1)

# Eliminar la columna original 'nombre_producto' si asÃ­ lo deseas
df_2015_2023.drop(columns=['nombre_producto'], inplace=True)

In [29]:
df_2015_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1223769 entries, 72 to 1223840
Data columns (total 31 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   Fecha                                      1223769 non-null  datetime64[ns]
 1   region                                     1223769 non-null  object
 2   Precio_dolarBlue                           1223769 non-null  float64
 3   Precio_dolarOficial                        1223769 non-null  float64
 4   Precio Ars                                 1223769 non-null  float64
 5   id_empresa_bandera                         1223769 non-null  int64
 6   Cotizacion_DolarOficial                    1223769 non-null  float32
 7   Cotizacion_DolarBlue                       1223769 non-null  float32
 8   Fecha_unix                                 1223769 non-null  int64
 9   producto_GNC                               1223769 non-null  bool
 10  producto_Gas Oil Grado 2                   1223769 non-null  bool
 11  producto_Gas Oil Grado 3                   1223769 non-null  bool
 12  producto_Nafta (premium) de mÃ¡s de 95 Ron  1223769 non-null  bool
 13  producto_Nafta (sÃºper) entre 92 y 95 Ron   1223769 non-null  bool
 14  producto_ASPRO                             1223769 non-null  bool
 15  producto_AXION                             1223769 non-null  bool
 16  producto_BLANCA                            1223769 non-null  bool
 17  producto_CAMUZZI GAS DEL SUR               1223769 non-null  bool
 18  producto_DAPSA S.A.                        1223769 non-null  bool
 19  producto_ESSO PETROLERA ARGENTINA S.R.L    1223769 non-null  bool
 20  producto_GULF                              1223769 non-null  bool
 21  producto_OIL COMBUSTIBLES S.A.             1223769 non-null  bool
 22  producto_PETROBRAS                         1223769 non-null  bool
 23  producto_PUMA                              1223769 non-null  bool
 24  producto_Pampa Energia                     1223769 non-null  bool
 25  producto_REFINOR                           1223769 non-null  bool
 26  producto_SHELL C.A.P.S.A.                  1223769 non-null  bool
 27  producto_SIN EMPRESA BANDERA               1223769 non-null  bool
 28  producto_SOL PETROLEO                      1223769 non-null  bool
 29  producto_VOY                               1223769 non-null  bool
 30  producto_YPF                               1223769 non-null  bool
dtypes: bool(22), datetime64[ns](1), float32(2), float64(3), int64(2), object(1)
memory usage: 109.7+ MB

In [28]:
features=['Fecha_unix','producto_GNC','producto_Gas Oil Grado 2','producto_Gas Oil Grado 3','producto_Nafta (premium) de mÃ¡s de 95 Ron','producto_Nafta (sÃºper) entre 92 y 95 Ron','Cotizacion_DolarOficial','Cotizacion_DolarBlue'
          ]
X = df_2015_2023.drop(columns=["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial","Fecha",'nombre_empresa_bandera'])
y = df_2015_2023[["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial"]]

# Dividir datos en conjunto de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Escalar caracterÃ­sticas
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Construir modelo de regresiÃ³n en TensorFlow con cuatro capas ocultas
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(3)  # Capa de salida con tres unidades
])

# Configurar el optimizador con tasa de aprendizaje personalizada
optimizer = tf.keras.optimizers.Adam(learning_rate=0.0001)  # Cambia 0.001 por el valor deseado de tasa de aprendizaje
model.compile(optimizer=optimizer, loss='mse')

# Entrenar modelo
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2)

# Realizar predicciones
predictions = model.predict(X_test_scaled)

# Evaluar modelo
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Epoch 1/50
WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

24476/24476 [==============================] - 69s 3ms/step - loss: 317.0971 - val_loss: 136.0802
Epoch 2/50
24476/24476 [==============================] - 67s 3ms/step - loss: 129.4164 - val_loss: 132.7154
Epoch 3/50
24476/24476 [==============================] - 69s 3ms/step - loss: 121.2779 - val_loss: 118.9495
Epoch 4/50
24476/24476 [==============================] - 74s 3ms/step - loss: 108.3303 - val_loss: 100.7623
Epoch 5/50
24476/24476 [==============================] - 73s 3ms/step - loss: 92.6952 - val_loss: 89.1621
Epoch 6/50
24476/24476 [==============================] - 65s 3ms/step - loss: 83.6297 - val_loss: 83.0255
Epoch 7/50
24476/24476 [==============================] - 68s 3ms/step - loss: 79.6158 - val_loss: 78.3576
Epoch 8/50
24476/24476 [==============================] - 68s 3ms/step - loss: 77.2808 - val_loss: 83.5346
Epoch 9/50
24476/24476 [==============================] - 70s 3ms/step - loss: 75.9234 - val_loss: 76.9522
Epoch 10/50
24476/24476 [==============================] - 70s 3ms/step - loss: 74.8600 - val_loss: 77.5119
Epoch 11/50
24476/24476 [==============================] - 71s 3ms/step - loss: 74.3210 - val_loss: 74.0918
Epoch 12/50
24476/24476 [==============================] - 70s 3ms/step - loss: 73.6447 - val_loss: 77.0254
Epoch 13/50
24476/24476 [==============================] - 74s 3ms/step - loss: 73.1755 - val_loss: 74.7954
Epoch 14/50
24476/24476 [==============================] - 73s 3ms/step - loss: 72.8221 - val_loss: 74.9606
Epoch 15/50
24476/24476 [==============================] - 73s 3ms/step - loss: 72.6011 - val_loss: 71.9527
Epoch 16/50
24476/24476 [==============================] - 74s 3ms/step - loss: 72.4710 - val_loss: 75.0788
Epoch 17/50
24476/24476 [==============================] - 73s 3ms/step - loss: 72.2151 - val_loss: 74.2723
Epoch 18/50
24476/24476 [==============================] - 75s 3ms/step - loss: 72.2339 - val_loss: 75.9391
Epoch 19/50
24476/24476 [==============================] - 77s 3ms/step - loss: 71.8892 - val_loss: 71.5147
Epoch 20/50
24476/24476 [==============================] - 74s 3ms/step - loss: 71.8153 - val_loss: 72.4101
Epoch 21/50
24476/24476 [==============================] - 73s 3ms/step - loss: 71.7552 - val_loss: 72.2842
Epoch 22/50
24476/24476 [==============================] - 83s 3ms/step - loss: 71.6124 - val_loss: 89.1419
Epoch 23/50
24476/24476 [==============================] - 81s 3ms/step - loss: 71.5317 - val_loss: 71.9981
Epoch 24/50
24476/24476 [==============================] - 76s 3ms/step - loss: 71.2609 - val_loss: 73.1829
Epoch 25/50
24476/24476 [==============================] - 78s 3ms/step - loss: 71.2792 - val_loss: 71.3105
Epoch 26/50
24476/24476 [==============================] - 73s 3ms/step - loss: 71.1582 - val_loss: 75.2645
Epoch 27/50
24476/24476 [==============================] - 73s 3ms/step - loss: 71.1270 - val_loss: 70.5759
Epoch 28/50
24476/24476 [==============================] - 74s 3ms/step - loss: 70.9569 - val_loss: 73.3251
Epoch 29/50
24476/24476 [==============================] - 74s 3ms/step - loss: 70.9145 - val_loss: 71.3916
Epoch 30/50
24476/24476 [==============================] - 77s 3ms/step - loss: 70.8807 - val_loss: 71.6425
Epoch 31/50
24476/24476 [==============================] - 74s 3ms/step - loss: 70.6655 - val_loss: 74.7540
Epoch 32/50
24476/24476 [==============================] - 73s 3ms/step - loss: 70.7431 - val_loss: 75.3268
Epoch 33/50
24476/24476 [==============================] - 74s 3ms/step - loss: 70.6124 - val_loss: 71.8671
Epoch 34/50
24476/24476 [==============================] - 73s 3ms/step - loss: 70.5762 - val_loss: 71.1032
Epoch 35/50
24476/24476 [==============================] - 72s 3ms/step - loss: 70.4382 - val_loss: 70.8890
Epoch 36/50
24476/24476 [==============================] - 73s 3ms/step - loss: 70.5124 - val_loss: 71.7931
Epoch 37/50
24476/24476 [==============================] - 75s 3ms/step - loss: 70.3939 - val_loss: 71.9657
Epoch 38/50
24476/24476 [==============================] - 72s 3ms/step - loss: 70.3479 - val_loss: 70.7291
Epoch 39/50
24476/24476 [==============================] - 75s 3ms/step - loss: 70.3211 - val_loss: 71.5857
Epoch 40/50
24476/24476 [==============================] - 73s 3ms/step - loss: 70.2177 - val_loss: 70.4955
Epoch 41/50
24476/24476 [==============================] - 77s 3ms/step - loss: 70.1451 - val_loss: 70.1377
Epoch 42/50
24476/24476 [==============================] - 72s 3ms/step - loss: 70.1087 - val_loss: 74.9618
Epoch 43/50
24476/24476 [==============================] - 76s 3ms/step - loss: 70.1158 - val_loss: 71.4540
Epoch 44/50
24476/24476 [==============================] - 72s 3ms/step - loss: 70.0882 - val_loss: 70.9488
Epoch 45/50
24476/24476 [==============================] - 74s 3ms/step - loss: 70.0322 - val_loss: 73.1015
Epoch 46/50
24476/24476 [==============================] - 78s 3ms/step - loss: 69.9449 - val_loss: 80.4840
Epoch 47/50
24476/24476 [==============================] - 70s 3ms/step - loss: 69.9390 - val_loss: 70.2054
Epoch 48/50
24476/24476 [==============================] - 71s 3ms/step - loss: 69.7777 - val_loss: 70.8282
Epoch 49/50
24476/24476 [==============================] - 66s 3ms/step - loss: 69.7872 - val_loss: 70.2656
Epoch 50/50
24476/24476 [==============================] - 67s 3ms/step - loss: 69.7685 - val_loss: 71.1883
7649/7649 [==============================] - 14s 2ms/step
Mean Squared Error: 66.94179394921976

In [11]:

df_one_hot = pd.get_dummies(df_2024['nombre_producto'], prefix='producto')

# Concatenar el DataFrame original con las variables one-hot
df_2024 = pd.concat([df_2024, df_one_hot], axis=1)

# Eliminar la columna original 'nombre_producto' si asÃ­ lo deseas
df_2024.drop(columns=['nombre_producto'], inplace=True)

In [29]:
X_2024 = df_2024.drop(columns=["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial","Fecha",'nombre_empresa_bandera'])  # Utiliza las mismas caracterÃ­sticas que durante el entrenamiento
X_2024_scaled = scaler.transform(X_2024)  # Escala las caracterÃ­sticas con el mismo scaler

# Realizar predicciones
predictions_2024 = model.predict(X_2024_scaled)

# Comparar con resultados reales
y_real_2024 = df_2024[["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial"]]
mse_2024 = mean_squared_error(y_real_2024, predictions_2024)
print("Mean Squared Error on 2024 data:", mse_2024)

2285/2285 [==============================] - 4s 2ms/step
Mean Squared Error on 2024 data: 14256.488525620729

In [30]:
comparison_df = pd.DataFrame({
    "Fecha": df_2024["Fecha"],  # Agrega la fecha para referencia
    "Precio_Ars_Real": y_real_2024["Precio Ars"].values,  # Precios reales
   
    "Precio_dolarBlue" :y_real_2024["Precio_dolarBlue"].values,
    "Precio_dolarOficial":y_real_2024["Precio_dolarOficial"].values,
    "Precio_Ars_Prediccion": predictions_2024[:, 0],  # Predicciones del modelo para Precio Ars
    "Precio_DolarBlue_Prediccion": predictions_2024[:, 1],  # Predicciones del modelo para Precio DolarBlue
    "Precio_DolarOficial_Prediccion": predictions_2024[:, 2]  # Predicciones del modelo para Precio DolarOficial
})

In [31]:
comparison_df

,Fecha,Precio_Ars_Real,Precio_dolarBlue,Precio_dolarOficial,Precio_Ars_Prediccion,Precio_DolarBlue_Prediccion,Precio_DolarOficial_Prediccion
1223841,2024-01-01,769.0,0.750244,0.907792,748.146179,0.647649,0.791555
1223842,2024-01-01,255.0,0.248780,0.301023,228.993668,0.208502,0.390920
1223843,2024-01-01,1057.0,1.031220,1.247772,829.799500,0.742040,0.928108
1223844,2024-01-01,640.0,0.624390,0.755510,711.198547,0.657704,0.721349
1223845,2024-01-01,1390.0,1.356098,1.640873,856.851013,0.780049,1.030105
...,...,...,...,...,...,...,...
1296925,2024-04-01,955.0,0.945545,1.059193,786.088989,0.848302,0.826112
1296926,2024-04-01,1149.0,1.137624,1.274359,901.975403,0.923932,1.007812
1296927,2024-04-01,985.0,0.975248,1.092466,811.858337,0.695382,0.779363
1296928,2024-04-02,968.0,0.958416,1.073611,812.350769,0.695813,0.779806
1296929,2024-04-02,1034.0,1.023762,1.146812,888.480957,0.826115,0.946706

In [26]:
comparison_df.head(10)

,Fecha,Precio_Ars_Real,Precio_dolarBlue,Precio_dolarOficial,Precio_Ars_Prediccion,Precio_DolarBlue_Prediccion,Precio_DolarOficial_Prediccion
1223841,2024-01-01,769.0,0.750244,0.907792,737.023682,0.631831,0.899652
1223842,2024-01-01,255.0,0.248780,0.301023,265.997833,0.301383,0.229488
1223843,2024-01-01,1057.0,1.031220,1.247772,854.879517,0.801405,1.000640
1223844,2024-01-01,640.0,0.624390,0.755510,731.384766,0.612585,0.819202
1223845,2024-01-01,1390.0,1.356098,1.640873,875.537598,0.823118,0.921539
1223846,2024-01-01,707.0,0.689756,0.834602,737.023682,0.631831,0.899652
1223847,2024-01-01,1032.0,1.006829,1.218260,854.879517,0.801405,1.000640
1223848,2024-01-01,874.0,0.852683,1.031743,737.023682,0.631831,0.899652
1223849,2024-01-01,662.0,0.645854,0.781481,682.177490,0.564793,0.777749
1223850,2024-01-01,775.0,0.756098,0.914875,848.504395,0.673980,0.832902

In [32]:
import pickle

# Guardar el modelo entrenado en un archivo Pickle
with open('modelo_entrenado.pkl', 'wb') as f:
    pickle.dump(model, f)