In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
precios=pd.read_parquet('Historico precios con dolar.parquet')
combustible=pd.read_csv('listado-de-productos.csv')
empresa=pd.read_csv('listado-de-empresas(1).csv')
banderas=pd.read_csv('listado-empresas-bandera.csv')

In [20]:
empresa

,id_empresa,nombre_empresa,id_empresa_bandera,direccion,localidad,provincia,region,latitud,longitud
0,102,M.P.C.I. S.A.,20,RUTA 3 KM. 298,AZUL,BUENOS AIRES,Pampeana,-36.788170,-59.834700
1,104,CALCAGNO RICARDO OMAR Y CALCAGNO RICARDO JAVIE...,4,AV. 25 DE MAYO 280,RESISTENCIA,CHACO,Noreste,-27.448803,-58.988820
2,105,LAS SIERRAS S.R.L,1,RUTA 36 Y ACCESO 005,RIO CUARTO,CORDOBA,Centro,-33.081140,-64.339980
3,107,MACHAGAI COMBUSTIBLES SRL,2,M.MORENO Y 25 DE MAYO,MACHAGAY,CHACO,Noreste,-26.924700,-60.046930
4,108,JACQUELIN O Y CARIGNANO J S DE HECHO,2,GENERAL LOPEZ 433,WHEELWRIGHT,SANTA FE,Centro,-33.791756,-61.206679
...,...,...,...,...,...,...,...,...,...
5552,10964,G.N.C. CALAMUCHITA S.R.L.,6,HIPOLITO YRIGOYEN 599,SANTA ROSA DE CALAMUCHITA,CORDOBA,Centro,-32.071690,-64.528370
5553,10965,SERVICIOS TARALLI SA,28,RUTA PROVINCIAL 21 Y 24 DE SEPTIEMBRE 2,BANDERA,SANTIAGO DEL ESTERO,Noroeste,-28.889600,-62.272870
5554,10967,LAS VEGAS SA,29,RUTA 6 KM 57,FRANCK,SANTA FE,Centro,-31.578650,-60.936580
5555,10968,ESTACION DEHEZA S.R.L.,1,AV. PTE RAUL ALFONSIN 2580/82,LANUS,BUENOS AIRES,Pampeana,-34.709900,-58.366622
5556,10969,FASENA ENERGIA S.A,4,Av.11 de Septiembre 4778,CORDOBA,CORDOBA,Centro,-31.463317,-64.147649

In [3]:
merged_df = pd.merge(precios, combustible, on='id_producto', how='left')

In [12]:
merged_df

,Fecha,id_producto,Precio Ars,id_empresa,Cotizacion_DolarBlue,Precio_dolarBlue,Cotizacion_DolarOficial,Precio_dolarOficial,nombre_producto
0,2001-01-01,21,45.790001,5572,2.95,15.520000,1.600000,28.620001,Gas Oil Grado 3
1,2001-07-20,2,22.360001,1397,2.95,7.580000,1.600000,13.980000,Nafta (súper) entre 92 y 95 Ron
2,2001-08-20,6,21.990000,732,2.95,7.450000,1.600000,13.740000,GNC
3,2001-10-20,3,44.080002,8681,2.95,14.940000,1.600000,27.549999,Nafta (premium) de más de 95 Ron
4,2002-02-20,19,75.139999,3745,2.20,34.150002,1.600000,46.959999,Gas Oil Grado 2
...,...,...,...,...,...,...,...,...,...
1296925,2024-04-01,19,955.000000,8092,1010.00,0.950000,901.630005,1.060000,Gas Oil Grado 2
1296926,2024-04-01,21,1149.000000,8092,1010.00,1.140000,901.630005,1.270000,Gas Oil Grado 3
1296927,2024-04-01,19,985.000000,1376,1010.00,0.980000,901.630005,1.090000,Gas Oil Grado 2
1296928,2024-04-02,19,968.000000,3720,1010.00,0.960000,901.630005,1.070000,Gas Oil Grado 2
1296929,2024-04-02,3,1034.000000,8079,1010.00,1.020000,901.630005,1.150000,Nafta (premium) de más de 95 Ron

In [4]:
merged_df2=pd.merge(merged_df,empresa,on='id_empresa',how='left')

In [48]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296930 entries, 0 to 1296929
Data columns (total 20 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Fecha                    1296930 non-null  datetime64[ns]
 1   id_producto              1296930 non-null  int16
 2   Precio Ars               1296930 non-null  float32
 3   id_empresa               1296930 non-null  int16
 4   Cotizacion_DolarBlue     1296930 non-null  float32
 5   Precio_dolarBlue         1296930 non-null  float32
 6   Cotizacion_DolarOficial  1296930 non-null  float32
 7   Precio_dolarOficial      1296930 non-null  float32
 8   nombre_producto          1296930 non-null  object
 9   nombre_empresa           1296930 non-null  object
 10  id_empresa_bandera       1296930 non-null  int64
 11  direccion                1296930 non-null  object
 12  localidad                1296930 non-null  object
 13  provincia                1296930 non-null  object
 14  region                   1296930 non-null  object
 15  latitud                  1296930 non-null  float64
 16  longitud                 1296930 non-null  float64
 17  mes                      1296930 non-null  int32
 18  dia_semana               1296930 non-null  int32
 19  dia_mes                  1296930 non-null  int32
dtypes: datetime64[ns](1), float32(5), float64(2), int16(2), int32(3), int64(1), object(6)
memory usage: 143.5+ MB

In [5]:


merged_df2['mes'] = merged_df2['Fecha'].dt.month
merged_df2['dia_semana'] = merged_df2['Fecha'].dt.dayofweek
merged_df2['dia_mes'] = merged_df2['Fecha'].dt.day

# Codificar variables categóricas (si es necesario)
features = ["Cotizacion_DolarBlue", "Cotizacion_DolarOficial", "id_empresa_bandera", "id_producto",'dia_semana','mes','dia_mes']
df_gas_oil_grado_3 = merged_df2[merged_df2['nombre_producto'] == 'Gas Oil Grado 3']
# Dividir datos en características (X) y etiquetas (y)
X = df_gas_oil_grado_3[features]
y = df_gas_oil_grado_3[["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial"]]

# Dividir datos en conjunto de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Escalar características
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Construir modelo de regresión en TensorFlow con cuatro capas ocultas
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(3)  # Capa de salida con tres unidades
])

# Configurar el optimizador con tasa de aprendizaje personalizada
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)  # Cambia 0.001 por el valor deseado de tasa de aprendizaje
model.compile(optimizer=optimizer, loss='mse')

# Entrenar modelo
history = model.fit(X_train_scaled, y_train, epochs=20, batch_size=32, validation_split=0.2)

# Realizar predicciones
predictions = model.predict(X_test_scaled)

# Evaluar modelo
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Epoch 1/20
WARNING:tensorflow:From c:\python\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

6107/6107 [==============================] - 22s 3ms/step - loss: 659.9095 - val_loss: 163.6256
Epoch 2/20
6107/6107 [==============================] - 19s 3ms/step - loss: 164.0972 - val_loss: 158.2057
Epoch 3/20
6107/6107 [==============================] - 22s 4ms/step - loss: 153.5175 - val_loss: 146.5553
Epoch 4/20
6107/6107 [==============================] - 20s 3ms/step - loss: 150.7679 - val_loss: 135.8102
Epoch 5/20
6107/6107 [==============================] - 24s 4ms/step - loss: 148.1152 - val_loss: 144.1521
Epoch 6/20
6107/6107 [==============================] - 24s 4ms/step - loss: 145.9861 - val_loss: 168.4620
Epoch 7/20
6107/6107 [==============================] - 25s 4ms/step - loss: 144.1907 - val_loss: 175.1393
Epoch 8/20
6107/6107 [==============================] - 28s 5ms/step - loss: 142.8073 - val_loss: 147.8281
Epoch 9/20
6107/6107 [==============================] - 39s 6ms/step - loss: 139.6798 - val_loss: 140.0336
Epoch 10/20
6107/6107 [==============================] - 24s 4ms/step - loss: 138.3016 - val_loss: 133.2649
Epoch 11/20
6107/6107 [==============================] - 25s 4ms/step - loss: 136.5115 - val_loss: 142.2293
Epoch 12/20
6107/6107 [==============================] - 22s 4ms/step - loss: 137.1773 - val_loss: 130.0831
Epoch 13/20
6107/6107 [==============================] - 24s 4ms/step - loss: 134.1393 - val_loss: 146.0282
Epoch 14/20
6107/6107 [==============================] - 26s 4ms/step - loss: 134.7619 - val_loss: 133.9637
Epoch 15/20
6107/6107 [==============================] - 24s 4ms/step - loss: 134.3157 - val_loss: 131.5644
Epoch 16/20
6107/6107 [==============================] - 22s 4ms/step - loss: 132.6915 - val_loss: 130.6005
Epoch 17/20
6107/6107 [==============================] - 23s 4ms/step - loss: 132.3533 - val_loss: 133.1754
Epoch 18/20
6107/6107 [==============================] - 24s 4ms/step - loss: 131.1354 - val_loss: 132.5371
Epoch 19/20
6107/6107 [==============================] - 21s 3ms/step - loss: 131.5450 - val_loss: 142.1229
Epoch 20/20
6107/6107 [==============================] - 25s 4ms/step - loss: 128.8168 - val_loss: 125.7932
1909/1909 [==============================] - 4s 2ms/step
Mean Squared Error: 123.232506

In [6]:
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import StandardScaler

# Suponiendo que tienes un DataFrame llamado data con las características necesarias para hacer la predicción
# También suponiendo que ya tienes el modelo entrenado (llamado model)

# Crear un DataFrame para la fecha específica y el ID del producto
fecha_prediccion = datetime.datetime(2024, 4 , 1) 
id_producto_prediccion = 21  # Suponiendo que el ID del producto que deseas predecir es 21

# Crear un DataFrame con las características para la fecha de predicción y el ID del producto
X_prediccion = pd.DataFrame({
    "Cotizacion_DolarBlue": [1000],  # Inserta aquí el valor correspondiente para la fecha de predicción
    "Cotizacion_DolarOficial": [910],
    # Agrega las características adicionales según sea necesario
    "id_empresa_bandera": [8079],  # Por ejemplo, asumiendo que estas características son binarias (0 o 1)
       # Indica si el ID de la empresa bandera corresponde o no a la fecha de predicción
    # Repite este proceso para todas las características necesarias
    "id_producto":[21],
    "mes": [fecha_prediccion.month],
    "dia_semana": [fecha_prediccion.weekday()],
    "dia_mes": [fecha_prediccion.day], 
})

scaler.fit(X_train)

# Asegurarse de que las características en X_prediccion estén en el mismo orden que X_train
X_prediccion = X_prediccion[X_train.columns]

# Escalar las características de predicción
X_prediccion_scaled = scaler.transform(X_prediccion)  

# Hacer la predicción
prediccion = model.predict(X_prediccion_scaled)
print("Predicción para el 2022/05/01 para el producto con ID 21:", prediccion)

1/1 [==============================] - 0s 67ms/step
Predicción para el 2022/05/01 para el producto con ID 21: [[9704.064     -25.65072   -15.450659]]

In [5]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296930 entries, 0 to 1296929
Data columns (total 17 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Fecha                    1296930 non-null  datetime64[ns]
 1   id_producto              1296930 non-null  int16
 2   Precio Ars               1296930 non-null  float64
 3   id_empresa               1296930 non-null  int16
 4   Cotizacion_DolarBlue     1296930 non-null  float32
 5   Precio_dolarBlue         1296930 non-null  float64
 6   Cotizacion_DolarOficial  1296930 non-null  float32
 7   Precio_dolarOficial      1296930 non-null  float64
 8   nombre_producto          1296930 non-null  object
 9   nombre_empresa           1296930 non-null  object
 10  id_empresa_bandera       1296930 non-null  int64
 11  direccion                1296930 non-null  object
 12  localidad                1296930 non-null  object
 13  provincia                1296930 non-null  object
 14  region                   1296930 non-null  object
 15  latitud                  1296930 non-null  float64
 16  longitud                 1296930 non-null  float64
dtypes: datetime64[ns](1), float32(2), float64(5), int16(2), int64(1), object(6)
memory usage: 143.5+ MB

In [9]:
prueba = merged_df2[['Fecha', 'nombre_producto', 'region', 'Precio_dolarBlue', 'Precio_dolarOficial', 'Precio Ars', 'id_empresa_bandera']]

In [10]:
prueba

,Fecha,nombre_producto,region,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,id_empresa_bandera
0,2001-01-01,Gas Oil Grado 3,Cuyo,0.183051,0.337500,0.54,8
1,2001-07-20,Nafta (súper) entre 92 y 95 Ron,Centro,0.369492,0.681250,1.09,26
2,2001-08-20,GNC,Pampeana,0.203390,0.375000,0.60,2
3,2001-10-20,Nafta (premium) de más de 95 Ron,Pampeana,0.400000,0.737500,1.18,26
4,2002-02-20,Gas Oil Grado 2,Noreste,0.540909,0.743750,1.19,28
...,...,...,...,...,...,...,...
1296925,2024-04-01,Gas Oil Grado 2,Patagonia,0.945545,1.059193,955.00,2
1296926,2024-04-01,Gas Oil Grado 3,Patagonia,1.137624,1.274359,1149.00,2
1296927,2024-04-01,Gas Oil Grado 2,Pampeana,0.975248,1.092466,985.00,28
1296928,2024-04-02,Gas Oil Grado 2,Pampeana,0.958416,1.073611,968.00,26
1296929,2024-04-02,Nafta (premium) de más de 95 Ron,Pampeana,1.023762,1.146812,1034.00,4

In [15]:
prueba['Fecha_unix'] = prueba['Fecha'].astype('int64') // 10**9

C:\Users\Pedro\AppData\Local\Temp\ipykernel_5724\1351682468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prueba['Fecha_unix'] = prueba['Fecha'].astype('int64') // 10**9

In [16]:
prueba

,Fecha,nombre_producto,region,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,id_empresa_bandera,Fecha_unix
0,2001-01-01,Gas Oil Grado 3,Cuyo,0.183051,0.337500,0.54,8,978307200
1,2001-07-20,Nafta (súper) entre 92 y 95 Ron,Centro,0.369492,0.681250,1.09,26,995587200
2,2001-08-20,GNC,Pampeana,0.203390,0.375000,0.60,2,998265600
3,2001-10-20,Nafta (premium) de más de 95 Ron,Pampeana,0.400000,0.737500,1.18,26,1003536000
4,2002-02-20,Gas Oil Grado 2,Noreste,0.540909,0.743750,1.19,28,1014163200
...,...,...,...,...,...,...,...,...
1296925,2024-04-01,Gas Oil Grado 2,Patagonia,0.945545,1.059193,955.00,2,1711929600
1296926,2024-04-01,Gas Oil Grado 3,Patagonia,1.137624,1.274359,1149.00,2,1711929600
1296927,2024-04-01,Gas Oil Grado 2,Pampeana,0.975248,1.092466,985.00,28,1711929600
1296928,2024-04-02,Gas Oil Grado 2,Pampeana,0.958416,1.073611,968.00,26,1712016000
1296929,2024-04-02,Nafta (premium) de más de 95 Ron,Pampeana,1.023762,1.146812,1034.00,4,1712016000

In [18]:
# Crear DataFrame solo con valores del 2015 al 2023
df_2015_2023 = prueba.loc[(prueba['Fecha'] >= '2015-01-01') & (prueba['Fecha'] <= '2023-12-31')]

# Crear DataFrame solo con valores del 2024
df_2024 = prueba.loc[prueba['Fecha'].dt.year == 2024]

In [19]:
df_2015_2023

,Fecha,nombre_producto,region,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,id_empresa_bandera,Fecha_unix
72,2016-01-01,Gas Oil Grado 2,Pampeana,1.095670,1.170022,15.69,4,1451606400
73,2016-02-29,Nafta (súper) entre 92 y 95 Ron,Pampeana,1.031390,1.015132,16.10,20,1456704000
74,2016-03-31,Nafta (súper) entre 92 y 95 Ron,Pampeana,1.115989,1.143721,17.03,20,1459382400
75,2016-04-01,GNC,Pampeana,0.854043,0.864847,12.99,1,1459468800
76,2016-04-01,GNC,Pampeana,0.788297,0.798269,11.99,1,1459468800
...,...,...,...,...,...,...,...,...
1223836,2023-12-31,Gas Oil Grado 3,Noreste,0.808780,0.978621,829.00,2,1703980800
1223837,2023-12-31,Nafta (premium) de más de 95 Ron,Cuyo,0.707317,0.855851,725.00,6,1703980800
1223838,2023-12-31,Nafta (premium) de más de 95 Ron,Pampeana,0.794146,0.960914,814.00,28,1703980800
1223839,2023-12-31,Nafta (súper) entre 92 y 95 Ron,Pampeana,0.673171,0.814534,690.00,28,1703980800
1223840,2023-12-31,Gas Oil Grado 2,Centro,0.763512,0.923847,782.60,26,1703980800

In [20]:
df_one_hot = pd.get_dummies(df_2015_2023['nombre_producto'], prefix='producto')

# Concatenar el DataFrame original con las variables one-hot
df_2015_2023 = pd.concat([df_2015_2023, df_one_hot], axis=1)

# Eliminar la columna original 'nombre_producto' si así lo deseas
df_2015_2023.drop(columns=['nombre_producto'], inplace=True)

In [21]:
df_2015_2023

,Fecha,region,Precio_dolarBlue,Precio_dolarOficial,Precio Ars,id_empresa_bandera,Fecha_unix,producto_GNC,producto_Gas Oil Grado 2,producto_Gas Oil Grado 3,producto_Nafta (premium) de más de 95 Ron,producto_Nafta (súper) entre 92 y 95 Ron
72,2016-01-01,Pampeana,1.095670,1.170022,15.69,4,1451606400,False,True,False,False,False
73,2016-02-29,Pampeana,1.031390,1.015132,16.10,20,1456704000,False,False,False,False,True
74,2016-03-31,Pampeana,1.115989,1.143721,17.03,20,1459382400,False,False,False,False,True
75,2016-04-01,Pampeana,0.854043,0.864847,12.99,1,1459468800,True,False,False,False,False
76,2016-04-01,Pampeana,0.788297,0.798269,11.99,1,1459468800,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1223836,2023-12-31,Noreste,0.808780,0.978621,829.00,2,1703980800,False,False,True,False,False
1223837,2023-12-31,Cuyo,0.707317,0.855851,725.00,6,1703980800,False,False,False,True,False
1223838,2023-12-31,Pampeana,0.794146,0.960914,814.00,28,1703980800,False,False,False,True,False
1223839,2023-12-31,Pampeana,0.673171,0.814534,690.00,28,1703980800,False,False,False,False,True
1223840,2023-12-31,Centro,0.763512,0.923847,782.60,26,1703980800,False,True,False,False,False

In [56]:
features=['Fecha_unix','producto_GNC','producto_Gas Oil Grado 2','producto_Gas Oil Grado 3','producto_Nafta (premium) de más de 95 Ron','producto_Nafta (súper) entre 92 y 95 Ron']
X = df_2015_2023[features]
y = df_2015_2023[["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial"]]

# Dividir datos en conjunto de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Escalar características
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Construir modelo de regresión en TensorFlow con cuatro capas ocultas
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(3)  # Capa de salida con tres unidades
])

# Configurar el optimizador con tasa de aprendizaje personalizada
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)  # Cambia 0.001 por el valor deseado de tasa de aprendizaje
model.compile(optimizer=optimizer, loss='mse')

# Entrenar modelo
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=48, validation_split=0.2)

# Realizar predicciones
predictions = model.predict(X_test_scaled)

# Evaluar modelo
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Epoch 1/30
16317/16317 [==============================] - 59s 3ms/step - loss: 411.1566 - val_loss: 256.4532
Epoch 2/30
16317/16317 [==============================] - 43s 3ms/step - loss: 276.3993 - val_loss: 224.4948
Epoch 3/30
16317/16317 [==============================] - 42s 3ms/step - loss: 254.9780 - val_loss: 219.2718
Epoch 4/30
16317/16317 [==============================] - 41s 3ms/step - loss: 242.7779 - val_loss: 241.0216
Epoch 5/30
16317/16317 [==============================] - 41s 2ms/step - loss: 232.0487 - val_loss: 279.7164
Epoch 6/30
16317/16317 [==============================] - 42s 3ms/step - loss: 226.2921 - val_loss: 293.3488
Epoch 7/30
16317/16317 [==============================] - 40s 2ms/step - loss: 220.9709 - val_loss: 196.9868
Epoch 8/30
16317/16317 [==============================] - 39s 2ms/step - loss: 212.6910 - val_loss: 171.7749
Epoch 9/30
16317/16317 [==============================] - 42s 3ms/step - loss: 209.4833 - val_loss: 171.8596
Epoch 10/30
16317/16317 [==============================] - 53s 3ms/step - loss: 204.2192 - val_loss: 168.3409
Epoch 11/30
16317/16317 [==============================] - 51s 3ms/step - loss: 201.3555 - val_loss: 186.6625
Epoch 12/30
16317/16317 [==============================] - 60s 4ms/step - loss: 197.4636 - val_loss: 174.9933
Epoch 13/30
16317/16317 [==============================] - 47s 3ms/step - loss: 193.8934 - val_loss: 153.2380
Epoch 14/30
16317/16317 [==============================] - 60s 4ms/step - loss: 192.3483 - val_loss: 178.0163
Epoch 15/30
16317/16317 [==============================] - 66s 4ms/step - loss: 188.1020 - val_loss: 216.5995
Epoch 16/30
16317/16317 [==============================] - 67s 4ms/step - loss: 188.3306 - val_loss: 186.9107
Epoch 17/30
16317/16317 [==============================] - 44s 3ms/step - loss: 188.2479 - val_loss: 277.8757
Epoch 18/30
16317/16317 [==============================] - 58s 4ms/step - loss: 184.3206 - val_loss: 210.5829
Epoch 19/30
16317/16317 [==============================] - 48s 3ms/step - loss: 183.2293 - val_loss: 195.0923
Epoch 20/30
16317/16317 [==============================] - 46s 3ms/step - loss: 181.4262 - val_loss: 207.9978
Epoch 21/30
16317/16317 [==============================] - 63s 4ms/step - loss: 179.0149 - val_loss: 211.3665
Epoch 22/30
16317/16317 [==============================] - 47s 3ms/step - loss: 179.6826 - val_loss: 154.4128
Epoch 23/30
16317/16317 [==============================] - 51s 3ms/step - loss: 175.9238 - val_loss: 156.0018
Epoch 24/30
16317/16317 [==============================] - 52s 3ms/step - loss: 176.1517 - val_loss: 147.5225
Epoch 25/30
16317/16317 [==============================] - 44s 3ms/step - loss: 173.4881 - val_loss: 148.3805
Epoch 26/30
16317/16317 [==============================] - 48s 3ms/step - loss: 171.7690 - val_loss: 143.5136
Epoch 27/30
16317/16317 [==============================] - 61s 4ms/step - loss: 171.3885 - val_loss: 145.5540
Epoch 28/30
16317/16317 [==============================] - 47s 3ms/step - loss: 170.3031 - val_loss: 154.9954
Epoch 29/30
16317/16317 [==============================] - 48s 3ms/step - loss: 169.5223 - val_loss: 162.8082
Epoch 30/30
16317/16317 [==============================] - 48s 3ms/step - loss: 167.8752 - val_loss: 138.5370
7649/7649 [==============================] - 14s 2ms/step
Mean Squared Error: 134.4484116593728

In [25]:

df_one_hot = pd.get_dummies(df_2024['nombre_producto'], prefix='producto')

# Concatenar el DataFrame original con las variables one-hot
df_2024 = pd.concat([df_2024, df_one_hot], axis=1)

# Eliminar la columna original 'nombre_producto' si así lo deseas
df_2024.drop(columns=['nombre_producto'], inplace=True)

In [57]:
X_2024 = df_2024[features]  # Utiliza las mismas características que durante el entrenamiento
X_2024_scaled = scaler.transform(X_2024)  # Escala las características con el mismo scaler

# Realizar predicciones
predictions_2024 = model.predict(X_2024_scaled)

# Comparar con resultados reales
y_real_2024 = df_2024[["Precio Ars", "Precio_dolarBlue", "Precio_dolarOficial"]]
mse_2024 = mean_squared_error(y_real_2024, predictions_2024)
print("Mean Squared Error on 2024 data:", mse_2024)

2285/2285 [==============================] - 4s 2ms/step
Mean Squared Error on 2024 data: 5774.38252421278

In [58]:
comparison_df = pd.DataFrame({
    "Fecha": df_2024["Fecha"],  # Agrega la fecha para referencia
    "Precio_Ars_Real": y_real_2024["Precio Ars"].values,  # Precios reales
   
    "Precio_dolarBlue" :y_real_2024["Precio_dolarBlue"].values,
    "Precio_dolarOficial":y_real_2024["Precio_dolarOficial"].values,
    "Precio_Ars_Prediccion": predictions_2024[:, 0],  # Predicciones del modelo para Precio Ars
    "Precio_DolarBlue_Prediccion": predictions_2024[:, 1],  # Predicciones del modelo para Precio DolarBlue
    "Precio_DolarOficial_Prediccion": predictions_2024[:, 2]  # Predicciones del modelo para Precio DolarOficial
})

In [59]:
comparison_df

,Fecha,Precio_Ars_Real,Precio_dolarBlue,Precio_dolarOficial,Precio_Ars_Prediccion,Precio_DolarBlue_Prediccion,Precio_DolarOficial_Prediccion
1223841,2024-01-01,769.0,0.750244,0.907792,752.627991,0.780284,0.554017
1223842,2024-01-01,255.0,0.248780,0.301023,253.115875,0.312792,0.204910
1223843,2024-01-01,1057.0,1.031220,1.247772,847.548523,0.856162,0.602111
1223844,2024-01-01,640.0,0.624390,0.755510,752.627991,0.780284,0.554017
1223845,2024-01-01,1390.0,1.356098,1.640873,847.548523,0.856162,0.602111
...,...,...,...,...,...,...,...
1296925,2024-04-01,955.0,0.945545,1.059193,1148.660400,0.096600,-0.032302
1296926,2024-04-01,1149.0,1.137624,1.274359,1250.414307,-0.476211,0.075894
1296927,2024-04-01,985.0,0.975248,1.092466,1148.660400,0.096585,-0.032302
1296928,2024-04-02,968.0,0.958416,1.073611,1153.212524,0.038274,-0.030593
1296929,2024-04-02,1034.0,1.023762,1.146812,1201.129639,-1.032622,0.068054

In [60]:
import pickle

# Guardar el modelo entrenado en un archivo Pickle
with open('modelo_entrenado.pkl', 'wb') as f:
    pickle.dump(model, f)